.Greceipt{
	padding-bottom: 50px;
}
.gr{
	padding:0px 10px;
	border-bottom:1px solid #C1C1C1;
}
.grece{
	overflow:hidden;
	padding:10px 0;
	position:relative;
	

}
.greceimg{
	width:30%;
}

.grece>div{
	float:left;
}
.grecewz{
	width:70%;
	position: absolute;
	top:0;
	right:0;
	padding:10px 0;
	height:calc(100% - 20px);
	height:-webkit-calc(100% - 20px);
}
.grecewz1{
	height:100%;
}
.grecewz1>div{
	width:100%;
	
}
.grecewz1>div:nth-child(1){
	height:25%;
}
.grecewz1>div:nth-child(2){
	height:50%;
	line-height: 20px;
}
.grecewz1>div:nth-child(3){
	height:25%;
}
.Total{
	overflow:hidden;
	position:relative;
}
.Total>div:nth-child(1){
	position:absolute;
	bottom:0;
	left:0;

}
.Total>div:nth-child(2){
	position:absolute;
	bottom:0;
	right:0;

}
.grecewz1>div:nth-child(1){
	font-size:15px;
}
.mony>div{
	font-size:13px;
}
.mony>div:nth-child(1){
	color:#E48A33;
}
.mony>div:nth-child(2){
	color:#FA3333;
}
.fo{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}
.fo>div{
	font-size:18px;
	text-align:center;
	color:#fff;
	line-height:50px;
	background-color:#E2724A;
}
.fl{
	font-size:12px;
	color:#868686;
}
.fr{
	font-size: 14px;
	color:#868686;
}