.nav>.nav-imgl{
	width:23px;
}
.user{
	background:url(../../image/layer-2.png) no-repeat 0 0;
	height:160px;
}
.user>div{
	width:50%;
	margin:0 auto;
	padding-top:30px;
}
.user1{
	width:50px;
	height:50px;
	border-radius: 50px;
	border:1px solid #fff;
	background-color:#fff;
	overflow:hidden;
	margin:0px auto 30px;

}
.user1>div{
	width:70%;
	margin:0 auto;
}
.login1,.re1{
	width:35%;
	line-height:25px;
	background-color:#e2724a;
	color:#fff;
	text-align:center;
}

.menu2{
	background-color:#fff;
	border-bottom:1px solid #858585;
}
.menu2>ul{
	overflow:hidden;
}
.menu2>ul>li{
	float:left;
	width:25%;
	height:60px;
	position:relative;
}
.trans2{
	width:70%;
	position:absolute;
	top:50%;
	left:15%;
	transform:translateY(-50%);
	margin:0 auto;
}
.tab2{
	max-width:32px;
	margin:0 auto;
}
.trans2>p{
	text-align:center;
	font-size:14px;
	color:#A5A5A5;
}
.user3{
	padding-bottom:60px;
}
.user3>ul{
	margin:0 auto;
}
.user3>ul>li{
	overflow:hidden;
	height:50px;
	border-bottom:1px solid #858585;
}
.user3 a>div{
	
	width:90%;
	margin:12px auto 0;
	overflow:hidden;
}
.user3 p{
	line-height:30px;
	color:#9C9C9C;
}
.fl>div{
	float:left;
}
.collect{
	width:20%;
	padding-right:10px;
}
.bakc{
	width:12px;
	float:right;
}
.menu{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
}
.menu>ul{
	overflow:hidden;
}
.menu>ul>li{
	float:left;
	width:25%;
	height:60px;
	position:relative;
}
.trans{
	width:70%;
	position:absolute;
	top:50%;
	left:20%;
	transform:translateY(-50%);
	margin:0 auto;
}
.tab{
	max-width:32px;
	margin:0 auto;
}
.trans>p{
	text-align:center;
	font-size:14px;
	color:#959595;
}
