
	<title>选择地址</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">选择地址</div>		
		</div>
		<div class="address">
			<div class="addre">
				<div class="address-top">
					<div>
						<span>收获人：诸葛亮</span>
						<span>电话：18888888888</span>
					</div>
					<div>广州天河区农民公寓发财大街农民公寓A栋307</div>
				</div>
			</div>

			<div class="addre2">
				<div class="address-bot">
					<div><input type="radio">默认地址</div>

					<div class="bot-right">
						<div>
						<div class="address-img"><img src="./image/editor.png" alt=""></div><span>编辑</span></div>
						<div>
						<div class="address-img"><img src="./image/delete.png" alt=""></div>
						<span>删除</span></div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="new-address">
			<div>添加新地址</div>
		</div>
	</div>
