
	<title>我的余额</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/balance.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">我的余额</div>	
		</div>

		<div class="balance">
			<div class="balance-top">
				<div>账户余额(元)</div>
				<div>458.00元</div>
			</div>
			<div class="user3">
			<ul>
				<li>
					<a ng-click="goState('bank');">
						<div>
							<div class="fl"><div class="collect"><img src="./image/bankcard.png" alt=""></div>
							<div><p>我的银行卡</p></div></div>
								<div class="bakc"><img src="./image/bakc.png" alt=""></div>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="goState('Recharge');">
						<div>
							<div class="fl"><div class="collect"><img src="./image/recharg.png" alt=""></div>
							<div><p>充值</p></div></div>
							<div class="bakc"><img src="./image/bakc.png" alt=""></div>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="goState('withd');">
						<div>
							<div class="fl"><div class="collect"><img src="./image/withdraw.png" alt=""></div>
							<div><p>提现</p></div></div>
							
								<div class="bakc"><img src="./image/bakc.png" alt=""></div>
							
						</div>
					</a>	
				</li>
			</ul>
		</div>	
		</div>
		
	</div>
