
	<title>我的银行卡</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/bank.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="goState('balance');" ><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">我的银行卡</div>
			
		</div>
		
		<div class="bank">
			<div>
				<div class="bank1">
					<img src="./image/china.png" alt="">
				</div>
				<div class="bank2">
					<div>中国银行</div>
					<div>储蓄卡</div>
					<div>**** **** **** 8285</div>

				</div>
			</div>
			<div>
				<div class="bank1">
					<img src="./image/bank.png" alt="">
				</div>
				<div class="bank2">
					<div>中国工商银行</div>
					<div>储蓄卡</div>
					<div>**** **** **** 8285</div>

				</div>
			</div>
		</div>
		<div class="bank3">
			<div>
				<div class="fl">添加银行卡</div>
				<div class="fr"><img src="./image/bakc.png" alt=""></div>
			</div>
		</div>
	</div>
