	<title>商品分类</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/home.css">
	<link rel="stylesheet" href="./assets/css/classify.css">
	<style type="text/css"></style>
	<an-head></an-head>
	<div ng-swipe-left="goState('menu.Shopping');" ng-swipe-right="goState('menu.home');">
	
		<div class="classify">
			<ul>
				<li class="classifyl classify2">
						<div>保健品系列</div>
						<div><img src="./image/cup2.png" alt=""></div>
				</li>
				<li class="classifyl">
					
						<div>茶具系列</div>
						<div><a ng-click=goState('series');><img src="./image/chahu.png" alt=""></a></div>
					
				</li>
				<li class="classifyl classify3">
					<div>饮水器系列</div>
					<div><img src="./image/layer2.png" alt=""></div>
				</li>
				<li class="classifyl">
					<div>零件配售区</div>
					<div><img src="./image/layer-3.png" alt=""></div>
				</li>
				<li class="classifyl" >
					<div>原石系列</div>
					<div><img src="./image/chahu3.png" alt=""></div>
				</li>
				<li class="classifyl">
					<div>君子壶系列</div>
					<div><img src="./image/chahu2.png" alt=""></div>
				</li>
			</ul>
			<!-- <div>
				<div class="classifyl fl classify2">
					 <div class="cla"> 
						<div>保健品系列</div>
						<div><img src="./image/cup2.png" alt=""></div>
					</div> 
				</div> 
				<a href="series.html">
					<div class="classifyl fr">
						 <div class="cla"> 
							<div>茶具系列</div>
							<div><img src="./image/chahu.png" alt=""></div>
						</div> 
					</div>
				</a>
				<div class="classifyl fl classify3">
					<div>饮水器系列</div>
					<div><img src="./image/layer2.png" alt=""></div>
				</div>
				<div class="classifyl fr">
					<div>零件配售区</div>
					<div><img src="./image/layer-3.png" alt=""></div>
				</div>
				<div class="classifyl fl">
					<div>原石系列</div>
					<div><img src="./image/chahu3.png" alt=""></div>
				</div>
				<div class="classifyl fr">
					<div>君子壶系列</div>
					<div><img src="./image/chahu2.png" alt=""></div>
				</div>
			</div>  -->
		</div>
		<!-- <div class="menu">
			<ul>
				<li>
					<a href="home.html">
						<div class="trans">
							<div class="tab"><img src="./image/homepage.png" alt="">
							</div>
							<p>首页</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="classify.html">
						<div class="trans">
							<div class="tab"><img src="./image/list1.png" alt="">
							</div>
							<p>商品分类</p>
						</div>	
					</a>	
				</li>
				<li>
					<a href="Shopping.html">
						<div class="trans">
							<div class="tab"><img src="./image/shopping.png" alt="">
							</div>
							<p>购物车</p>
						</div>	
					</a>	
				</li>
				<li>
					<a href="user.html">
						<div class="trans">
							<div class="tab"><img src="./image/my2.png" alt="">
							</div>
							<p>个人中心</p>
						</div>	
					</a>
				</li>
			</ul>
		</div> -->
	</div>
	