
	<title>我的收藏</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">
	<link rel="stylesheet" href="./assets/css/series.css">
	<link rel="stylesheet" href="./assets/css/Collection.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">我的收藏</div>
			
		</div>
		<div class="Greceipt">
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
				<div class="delete">删除</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
				<div class="delete">删除</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
				<div class="delete delete1">删除</div>
			</div>
		</div>
		
	</div>
