	<title>我的评论</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/comments.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">我的评论</div>
		</div>
		<div class="comm">
			<div class="comments">
				<div class="comments1">
					<div class="comments2">
						<div class="commimg ">
							<img src="./image/my.png" alt="">
						</div>
						<span>诸葛亮</span>
					</div>
					<div class="comments3">
						<div>用户评价</div>
						<div class="xinimg"><img src="./image/score.png" alt=""></div>
					</div>
				</div>
				<div class="comments5">
					<div class="fl">这是个好东西，不错！</div>
					<div class="pri">
						<div class="prise">
							<div><img src="./image/prise.png" alt=""></div>
							<div>50</div>
						</div>
						<div class="prise">
							<div><img src="./image/prise01.png" alt=""></div>
							<div>2</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comments">
				<div class="comments1">
					<div class="comments2">
						<div class="commimg ">
							<img src="./image/my.png" alt="">
						</div>
						<span>诸葛亮</span>
					</div>
					<div class="comments3">
						<div>用户评价</div>
						<div class="xinimg"><img src="./image/score.png" alt=""></div>
					</div>
				</div>
				<div class="comments4">
					<div><img src="./image/yaler2.png" alt=""></div>
					<div><img src="./image/yaler2.png" alt=""></div>
					<div><img src="./image/yaler2.png" alt=""></div>
				</div>
				<div class="comments5">
					<div class="fl">这是个好东西，不错！</div>
					<div class="pri">
						<div class="prise">
							<div><img src="./image/prise.png" alt=""></div>
							<div>50</div>
						</div>
						<div class="prise">
							<div><img src="./image/prise01.png" alt=""></div>
							<div>2</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fo">
			<div>已显示全部</div>
		</div>
	</div>
