
	<title>个人资料修改</title>
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/data.css">

	<div>
		<div class="nav">
			<div class="nav-imgl"> 
				<a  ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">个人资料修改</div>
			
		</div>
		<div class="data">
			<div>
				<div class="data-d">
					<div>
						<div>头像</div>
					<div class="my"><img src="./image/my.png" alt=""></div>
					</div>
					<div><img src="./image/bakc.png" alt=""></div>
				</div>
			</div>
			<div>
				<div class="data-d">
					<div>
						<div>昵称</div>
					<div>诸葛亮</div>
					</div>
					<div><img src="./image/bakc.png" alt=""></div>
				</div>
			</div>

			<div>
				<div class="data-d">
					<div>
						<div>手机绑定</div>
						<div>13655***522</div>
					</div>
					<div><img src="./image/bakc.png" alt=""></div>
				</div>
			</div>

			<div>
				<div class="data-d">
					<div>
						<div>修改密码</div>
						<div>*********</div>
					</div>
					<div><img src="./image/bakc.png" alt=""></div>
				</div>
			</div>
		</div>
	
		<a ng-click="goState('user');">
			<div class="data-fo">
				<div>退出登录</div>
			</div>
		</a>
	</div>
