
	<title>商品详细</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/details.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="nav-imgr">
				<img src="./image/share.png" alt="" />
			</div>
			<div class="addr">商品详细</div>
			
		</div>
		<div class="details">
			<div class="detailsimg">
				<img src="./image/layer-1.png" alt="">
				<ul class="index">
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="detailswz">
				<div class="detail">清幽木鱼双杯: 青梅竹友</div>
				<div class="detai2">
					<div>
						产品:青梅竹友对对组
					</div>
					<div>
						材质:正宗清幽木鱼石
					</div>
					<div>
						450毫升(单个杯子容积)
					</div>
					<div>
						系列:清幽锦绣前程系列
					</div>
				</div>
				<div class="detai3">
					<span>￥398.00</span>
					<del>￥1194.00</del>
				</div>
				<div class="detai4">
					<div class="fl">月销量:2097</div>
					<div class="fr">快递:全国包邮</div>
				</div>
			</div>
			<div class="pj">用户评价</div>
		</div>

		<div class="fot1">
			<ul>
					<li>
						<a ng-click="goState('Shopping.menu');">
							<div class="trans h">
								<div class="tab"><img src="./image/shopping2.png" alt="">
								</div>
								<p>购物车</p>
							</div>	
						</a>
					</li>
					<li>
						<a  ng-click="goState('Collection');">
							<div class="trans h">
								<div class="tab"><img src="./image/collect1.png" alt="">
								</div>
								<p>收藏</p>
							</div>	
						</a>
					</li>
					<li>
						<a ng-click="goState('Shopping.menu');">
							<div class="trans w">加入购物车</div>
						</a>
					</li>
					<li>
						<a ng-click="goState('Order');"><div class="trans w">立即购买</div></a>
					</li>
			</ul>
		</div>

	</div>
