
	<title>待评论</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/evaluate.css">


	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">待评价</div>
			
		</div>
		<div class="evaluate">
			<div>
				<div class="wz">
					<div>交易成功</div>
					<div>卖家将收到您的付款！</div>
				</div>
				<div class="money">
					<div><img src="./image/money.png" alt=""></div>
					<div><img src="./image/money2.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="evalu">
			<a  ng-click="goState('comments');"><div class="evalu-btn">立刻评价</div></a>
		</div>
	</div>
