
	<title>代收货</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">待收货</div>
			
		</div>

		<div class="Greceipt">
			<div class="gr">
				<div class="grece">

					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony">
								<div>市场价:￥2646.00</div>
								<div>会员价:￥888.00</div>
							</div>
							<div class="Total">
								<div class="fl">x1</div>
								<div class="fr">待收货</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">

					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony">
								<div>市场价:￥2646.00</div>
								<div>会员价:￥888.00</div>
							</div>
							<div class="Total">
								<div class="fl">x1</div>
								<div class="fr">待收货</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a ng-click="goState('evaluate');">
		<div class="fo">
			<div>确认收货</div>
		</div>
		</a>
	</div>


