
	<title>首页</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/home.css">
	
	<an-head></an-head>
	<div ng-swipe-left="goState('menu.classify');" ng-swipe-right="goState('menu.user');">
		
		<div class="banner">
			<img src="./image/banner.png" alt="">
		</div>
		<div class="toolbar">
			<div class="max-toolbar">
				<div>
					<div class = "img"><img src="./image/cup.png" alt=""></div>
					<p>保健杯</p>
				</div>
				<div >
					<div class = "img"><img src="./image/tea.png" alt=""></div>
					<p>茶具</p>
				</div>
				<div>
					<div class = "img"><img src="./image/jar.png" alt=""></div>
					<p>刮痧器</p>
				</div>
				<div>
					<div class = "img"><img src="./image/scoop.png" alt=""></div>
					<p>厨房器具</p>
				</div>	
			</div>
		</div>

		<div class="sales">
			<div class="sales-left">
				<div>
					<div class="sa-top">
						<div class="sales-img " ><img src="./image/new.png" alt=""></div>
						<div class="sales-f1">新品上市</div>
					</div>
					<div class="sales-f2 center" >最新上市不容错过</div>
					<a ng-click="goState('details');"><div class="leyer4"><img src="./image/layer4.png" alt=""></div></a>
					<div class="sales-f3">仅售￥888.00</div>
				</div>		
			</div>
			<div class="sales-right">
				<div>
					<div class="sa-top">
						<div class="sales-img " ><img src="./image/fire.png" alt=""></div>
						<div class="sales-f1">火热促销</div>
					</div>
					<div class="sa-bot">
						<div class="fire-img"><img src="./image/layer5.png" alt="" /></div>
						<div  class="cx">
							<div class="sales-f2">年中大促销</div>
							<div class="sales-f5">原价：￥897.00</div>
							<div class="sales-f4"><span>现价：￥299.00</span></div>
						</div>
					</div>	
				</div>
				<div>
					<div class="sa-top">
						<div class="sales-img " ><img src="./image/time.png" alt=""></div>
						<div class="sales-f1">限时拍卖</div>
					</div>
					<div class="sa-bot">
						<div class="fire-img"><img src="./image/layer5.png" alt="" /></div>
						<div  class="cx1">
							<div class="sales-f5">距下市仅剩最后3天</div>
							<div class="sales-f4"><span>只要 ￥2999.00</span></div>
						</div>	
					</div>	
				</div>
			</div>
		</div>
		<div class="sales2">
			<div class="sales2-top">
				<div class="fl top-1">
					<div><img src="./image/leaf.png">
					</div>
					<span>淡雅清幽</span>
				</div>
				<div class="gd">更多&gt;&gt;</div>
			</div>
			<div class="sales2-bot">
				<div class="bot-left">
					<img src="./image/layer-7.png">
				</div>
				<div class="bot-right">
					<img src="./image/layer9.png">
				</div>
			</div>
		</div>

		<!-- <div class="menu">
			<ul>
				<li>
					<a href="home.html">
						<div class="trans">
							<div class="tab"><img src="./image/homepage1.png" alt="">
							</div>
							<p>首页</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="classify.html">
						<div class="trans">
							<div class="tab"><img src="./image/list.png" alt="">
							</div>
							<p>商品分类</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="Shopping.html">
						<div class="trans">
							<div class="tab"><img src="./image/shopping.png" alt="">
							</div>
							<p>购物车</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="user.html">
						<div class="trans">
							<div class="tab"><img src="./image/my2.png" alt="">
							</div>
							<p>个人中心</p>
						</div>	
					</a>
				</li>
			</ul>
		</div> -->
	</div>

