
<title>登录</title>
<link rel="stylesheet" type="text/css" href="./assets/css/login.css" />
	<div>
		<div class="login">	
     		<div class="logo">
						<div class="logo-img">
     						<img src="./image/jar.png" alt="">
     					</div>
     		</div>
			<div class="form">
				<div class="user">
					<span><img src="./image/user.png" alt=""></span>
					<input type="text" placeholder="手机号/邮箱">
     			</div>
     			<div class="user">
					<span><img src="./image/mima.png" alt="" /></span>
					<input type="text" placeholder="密码">
     			</div>

     			<a ng-click="goState('menu.user');"><div class="login-dl">登录</div></a>

     			<div class="re">
					<span><a href="">忘记密码?</a></span>
					<span><a ng-click="goState('register');">立即注册</a></span>
     			</div>
			</div>
     		
			
     		<div class="other-login">
     			<div class="other-line">
     				<i></i><span class="other-text">第三方登录</span><i></i>

     			</div>
				<div class="other-icon">
					<div><div class="icon-img"><img src="./image/weibo.png" alt=""></div></div>
					<div><div class="icon-img"><img src="./image/qq.png" alt=""></div></div>
					<div><div class="icon-img"><img src="./image/weixin.png" alt=""></div></div>
				</div>
     		</div>
		</div>
	</div>
