<div class="menu">
			<ul>
				<li>
					<a ng-click="goState('menu.home');">
						<div class="trans">
							<div class="tab" ><img ng-src="{{imgUrl[0]}}" >
							</div>
							<p>首页</p>
						</div>	
					</a>
				</li>
				<li>
					<a ng-click="goState('menu.classify');">
						<div class="trans">
							<div class="tab"><img ng-src="{{imgUrl[1]}}">
							</div>
							<p>商品分类</p>
						</div>	
					</a>
				</li>
				<li>
					<a ng-click="goState('menu.Shopping');">
						<div class="trans">
							<div class="tab"><img ng-src="{{imgUrl[2]}}">
							</div>
							<p>购物车</p>
						</div>	
					</a>
				</li>
				<li>
					<a ng-click="goState('menu.user');" >
						<div class="trans">
							<div class="tab"><img ng-src="{{imgUrl[3]}}">
							</div>
							<p>个人中心</p>
						</div>	
					</a>
				</li>
			</ul>
</div>