
	<title>充值</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/withd.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="goState('balance');"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">充值</div>
			
		</div>
		<div class="withd">
			<div>
				<div class="withd-top">
					<div>
						<img src="./image/chinabank1.png" alt="">
					</div>
					<div>
						<span>工商银行</span>
						<span>尾号1234</span>
					</div>
					<div><a href="bank.html"><img src="./image/bakc.png" alt="" /></a></div>
				</div>
			</div>
			<div>
				<div class="withd-bot1">
					<!-- <div>请输入提现金额</div> -->
					<div class="ipt"><span>金额</span><input type="text" placeholder="请输入充值金额"></div>
					<!-- <div>可用余额为0.00元</div> -->
				</div>
			</div>
		</div>

		<div class="withd-tx">
			<div>确认充值</div>
		</div>
	</div>
