
	<title>购买记录</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">
	<link rel="stylesheet" href="./assets/css/record.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">购买记录</div>
			
		</div>
		<div class="Greceipt">
			<div class="date">5月1日</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>古法淬火系:木鱼宁静致远(大)</div>
							<div class="mony2">
								<div>宁静志远大号，淬火工艺防炸杯</div>
								<div>体态圆润，杯身简洁大方。</div>
							</div>
							<div class="Total">
								<div class="fl">￥368.00</div>
								<div class="fr">查看相似</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>古法淬火系:木鱼宁静致远(大)</div>
							<div class="mony2">
								<div>宁静志远大号，淬火工艺防炸杯</div>
								<div>体态圆润，杯身简洁大方。</div>
							</div>
							<div class="Total">
								<div class="fl">￥368.00</div>
								<div class="fr">查看相似</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="date">4月3日</div>
				<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>古法淬火系:木鱼宁静致远(大)</div>
							<div class="mony2">
								<div>宁静志远大号，淬火工艺防炸杯</div>
								<div>体态圆润，杯身简洁大方。</div>
							</div>
							<div class="Total">
								<div class="fl">￥368.00</div>
								<div class="fr">查看相似</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fot">
			<div>已显示全部</div>
		</div>
	</div>
