
	<title>搜索</title>
	
	<link rel="stylesheet" href="./assets/css//home.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/search.css">
	<style type="text/css"></style>

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<img src="./image/sceanning.png" alt="" />
			</div>
			<div class="search">
				<span>
					<img src="./image/search.png" alt="" />
				</span>
				<input type="text" placeholder="请输入搜索内容">
				<span>
					<img src="./image/saying.png" alt="" />
				</span>
			</div>
			<div class="nav-imgr">
				<a ng-click="gohistory();">取消</a>
			</div>
		</div>
		<div class="search">
			<div class="hotsearch">
				<div>热门搜索</div>
				<div>
					<div>君子壶</div>
					<div>君子壶</div>
					<div>君子壶</div>
				</div>
			</div>
			<div class="history">
				<div>历史搜索</div>
			</div>

		</div>
		
		
	</div>
