<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>茶具系列</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">
	<link rel="stylesheet" href="./assets/css/series.css">
</head>
<body>
	<div>
		<div class="nav">
			
				<div class="nav-imgl">
					<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
				</div>
			
			<div class="addr">茶具系列</div>
			
		</div>
		<div class="Greceipt">
			<div class="paihang">
				<div>价格排行<i><img src="./image/arrow.png" alt=""></i></div>
				<div>销量排行<i><img src="./image/arrow.png" alt=""></i></div>
				<div>人气排行<i><img src="./image/arrow.png" alt=""></i></div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer2x.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							<div>清幽壶套装(年中大促买三送一)</div>
							<div class="mony1">
								<div class="monyleft">
									<div>市场价:￥2646.00</div>
									<div>会员价:￥888.00</div>
								</div>

								<div class="monyright">
									<div>加入购物车</div>
								</div>
							</div>
							<div class="Total">
								<div class="fl">已有7122人付款</div>
								<div class="fr">立即购买</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>