	<title>购物车</title>
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">
	<link rel="stylesheet" href="./assets/css/Order.css">
	<link rel="stylesheet" href="./assets/css/Shopping.css">
	<link rel="stylesheet" href="./assets/css/user.css">

	<div ng-swipe-left="goState('menu.user');" ng-swipe-right="goState('menu.classify');">	
		<div class="Greceipt">
			<div class="gr">
				<div class="grece">
		
						<div class="radio"><input type="radio" name="chahu" checked="checked"></div>
						
						<div class="greceimg">
							
							<img src="./image/layer-12.png" alt="">
						</div>
				
						<div class="grecewz">
							<div class="grecewz1">
								<div>古法淬火系:木鱼石大龙杯</div>
								<div class="mony4">
									<div>杯身12CM，直径9.1cm</div>
									<div>重量0.88KG，容积480毫升。</div>
								</div>
								<div class="Total">
									<div class="fl"><span>￥399.00</span></div>
									<div class="fr btn"><span>-</span><input type="text" value="1"><span>+</span></div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
		
						<div class="radio"><input type="radio" name="chahu" checked="checked"></div>
						
						<div class="greceimg">
							
							<img src="./image/layer-12.png" alt="">
						</div>
				
						<div class="grecewz">
							<div class="grecewz1">
								<div>古法淬火系:木鱼石大龙杯</div>
								<div class="mony4">
									<div>杯身12CM，直径9.1cm</div>
									<div>重量0.88KG，容积480毫升。</div>
								</div>
								<div class="Total">
									<div class="fl"><span>￥399.00</span></div>
									<div class="fr btn"><span>-</span><input type="text" value="1"><span>+</span></div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece">
		
						<div class="radio"><input type="radio" name="chahu" checked="checked"></div>
						
						<div class="greceimg">
							
							<img src="./image/layer-12.png" alt="">
						</div>
				
						<div class="grecewz">
							<div class="grecewz1">
								<div>古法淬火系:木鱼石大龙杯</div>
								<div class="mony4">
									<div>杯身12CM，直径9.1cm</div>
									<div>重量0.88KG，容积480毫升。</div>
								</div>
								<div class="Total">
									<div class="fl"><span>￥399.00</span></div>
									<div class="fr btn"><span>-</span><input type="text" value="1"><span>+</span></div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="fot1">
			<div class="fot1-left">
				<div><input type="radio">全选</div>
				<div>合计:1197.00元</div>
			</div>
			<a ng-click="goState('Greceipt');">
				<div class="fot2-right">
					<div>结算</div>
				</div>
			</a>
		</div>
		<!-- <div class="menu">
			<ul>
				<li>
					<a href="home.html">
						<div class="trans">
							<div class="tab"><img src="./image/homepage.png" alt="">
							</div>
							<p>首页</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="classify.html">
						<div class="trans">
							<div class="tab"><img src="./image/list.png" alt="">
							</div>
							<p>商品分类</p>
						</div>	
					</a>
				</li>
				<li>
					<a href="Shopping.html">
						<div class="trans">
							<div class="tab"><img src="./image/shopping1.png" alt="">
							</div>
							<p>购物车</p>
						</div>	
					</a>	
				</li>
				<li>
					<a ui-sref="user">
						<div class="trans">
							<div class="tab"><img src="./image/my2.png" alt="">
							</div>
							<p>个人中心</p>
						</div>	
					</a>
				</li>
			</ul>
		</div> -->
	</div>
	
