
	<title>我的订单</title>
	<link rel="stylesheet" href="./assets/css/reset.css">
	<link rel="stylesheet" href="./assets/css/address.css">
	<link rel="stylesheet" href="./assets/css/Greceipt.css">
	<link rel="stylesheet" href="./assets/css/yishouh.css">

	<div>
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">我的订单</div>
			
		</div>
		<div class="Greceipt">
			<div class="gr">
				<div class="grece1">
					<div>订单号:*******</div>
					<div>下单时间:2016-5-22</div>
				</div>
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer-6.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							
							<div class="mony1">
								<div>古法淬火系:连年有余木鱼石壶</div>
								<div>备注:无</div>
							</div>
							<div class="Total">
								<div class="fl">￥1164.00</div>
								<div class="fr">已收货</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gr">
				<div class="grece1">
					<div>订单号:*******</div>
					<div>下单时间:2016-5-22</div>
				</div>
				<div class="grece">
					<div class="greceimg">
						<img src="./image/layer-6.png" alt="">
					</div>
					<div class="grecewz">
						<div class="grecewz1">
							
							<div class="mony1">
								<div>古法淬火系:连年有余木鱼石壶</div>
								<div>备注:无</div>
							</div>
							<div class="Total">
								<div class="fl">￥1164.00</div>
								<div class="fr">已收货</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
		</div>
		<div class="fot">
			<div>已显示全部</div>
		</div>
	</div>
